# Binance
python-binance==1.0.19
binance-futures-connector

# Telegram
pyTelegramBotAPI==4.14.0

# HTTP Requests
requests==2.32.4
urllib3==2.6.3

# View
textual==0.79.1

# Web Server
Flask==3.0.0
waitress==3.0.1
cryptography>=41.0.0

# Settings
pydantic-settings
python-dotenv
SQLAlchemy
